# Reclassify Jupyter notebooks as Python
*.ipynb linguist-language=Python
*.ipynb linguist-documentation=false
*.ipynb linguist-detectable=true

# Ensure Python files are detected
*.py linguist-detectable=true
*.py linguist-language=Python

## Uncomment to ignore Jupyter notebooks
# *.ipynb linguist-detectable=true
